<h1>Convert <%=@base_currency%></h1>

<p>Go <a href="/forex">back</a></p>

<ul>
  <% @array_of_keys.each do |sym| %>
    <li>
      <a href="/forex/<%=@base_currency%>/<%= sym %>">
        Convert 1 <%= @base_currency %> to <%= sym %>...
      </a>
    </li>
  <% end %>
</ul>
